header {
    position: absolute;
    z-index: 1;
    top: 20px;
    
  }

.navigation {
    display: flex;
    padding: 10px;
    margin-left: 50%;
}

.menu {
    padding: 10px;
}


body {background-color: #f2f0ec;}


.top {
    margin: 0 auto;
    position: absolute;
    text-align: center;
}

.about {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 120px;
    display: flex;
    justify-content: space-around;

}

.projects {
    box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 80px;

}

button:hover {
    color: #DBE9EE;
}

.menu:hover {
    color: #c4cbcd;
}

p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    
  }

  
footer {
    background-color: #DBE9EE;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
  }
  
.icons {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
}

ul {
    padding-inline-start: 0px;
    width: 50vw;
}

  hr {
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    width: 50px;
    background: rgb(57, 55, 55);
    margin-bottom: 50px;
}